// Fonts
$fuentePrincipal: 'Big Shoulders Display', cursive; // 700
$fuenteSecundaria: 'Lexend Deca', sans-serif; // 400

// Media Queries Sizes
$telefono: 375px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);

$transparentWhite: hsla(0, 0%, 100%, 0.75); // Paragraphs
$veryLightGray: hsl(0, 0%, 95%); // Background, headings, buttons